@model IEnumerable<PhoneBook>
@{
	ViewBag.Title = "Phone book";
	Layout = "_Layout";
}

<body class="m-1 p-1">
	<table class="table table-bordered table-striped">
		<thead>
			<tr><th>ID</th><th>Фамилия</th><th>Имя</th><th>Отчество</th></tr>
		</thead>
		<tbody>
			@if(Model == null)
			{
				<tr><td colspan="4" class="text-center">No Model Data</td></tr>
			}
			else
			{
				@foreach(var p in Model)
				{
					<tr>
						<td><a asp-action="Edit" asp-route-id="@p.Id">@p.Id</a></td>
						<td>@p.Surname</td>
						<td>@p.Name</td>
						<td>@p.Patronymic</td>
						<td>
							<form asp-action="Delete" method="post">
								<input type="hidden" name="id" value="@p.Id" />
								<button type="submit" class="btn btn-danger">Delete</button>
							</form>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>

	<div class="mb-1 fixed-bottom">
		<div class="shadow-lg rounded">
			<a asp-action="Create" class="btn align-self-center btn-primary ms-2 mb-1">Добавить</a>
		</div>
	</div>
</body>